Repository coding-kelps/leetcode-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-nightly, cargo-build

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: clippy
        args: ["--all-features", "--", "-D", "warnings"]

  - repo: local
    hooks:
      - id: cargo-fmt-nightly
        name: cargo +nightly fmt
        entry: cargo +nightly fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-build
        name: cargo build
        entry: cargo build
        language: system
        files: \.(rs|toml)$
        pass_filenames: false

fix: handle rust design problems whose class is named Solution
  bug.md
  src/code_signature.rs
  src/utils.rs
  tests/code_signature_test.rs
  tests/utils_tests.rs
Due: cargo-fmt-nightly, cargo-build

fix: support rust NestedInteger definitions and values
  bug.md
  src/code_signature.rs
  src/utils.rs
  tests/code_signature_test.rs
  tests/utils_tests.rs
Due: cargo-fmt-nightly, cargo-build

fix(readme_parser): read Input / Output labels without a colon
  bug.md
  src/readme_parser.rs
  tests/readme_parser_tests.rs
Due: cargo-fmt-nightly, cargo-build

test(utils): check the enum itself is uncommented, the markers are comments
  tests/utils_tests.rs
Due: cargo-fmt-nightly, cargo-build

feat(test_generator): generate rust tests for design problems
  bug.md
  src/code_signature.rs
  src/test_generator.rs
  tests/code_signature_test.rs
  tests/test_generator_tests.rs
Due: cargo-fmt-nightly, cargo-build

fix(utils): import Rc and RefCell in the local definitions of design problems
  bug.md
  src/utils.rs
  tests/utils_tests.rs
Due: cargo-fmt-nightly, cargo-build

refactor: extract the solution file generation from start_problem
  src/leetcode_api_runner.rs
  src/utils.rs
Due: cargo-fmt-nightly, cargo-build

fix(test_generator): skip rust signatures using a judge interface type
  bug.md
  src/code_signature.rs
  src/test_generator.rs
  tests/test_generator_tests.rs
Due: cargo-fmt-nightly, cargo-build

fix(test_generator): read [null] design arguments as no argument
  bug.md
  src/test_generator.rs
  tests/test_generator_tests.rs
Due: cargo-fmt-nightly, cargo-build

feat(test_generator): note in the rust tests when several answers are accepted
  bug.md
  src/readme_parser.rs
  src/test_generator.rs
  src/utils.rs
  tests/readme_parser_tests.rs
  tests/test_generator_tests.rs
Due: cargo-fmt-nightly, cargo-build

test: add judge interface, design and recent problems to the rust fixtures
  tests/data/problems/1095.md
  tests/data/problems/1095.rs
  tests/data/problems/1600.md
  tests/data/problems/1600.rs
  tests/data/problems/3067.md
  tests/data/problems/3067.rs
  tests/data/problems/3533.md
  tests/data/problems/3533.rs
  tests/data/problems/3703.md
  tests/data/problems/3703.rs
  tests/problem_fixtures_tests.rs
Due: cargo-fmt-nightly, cargo-build

feat(test_generator): roundtrip rust tests for codec problems
  bug.md
  src/test_generator.rs
  tests/test_generator_tests.rs
Due: cargo-fmt-nightly, cargo-build

feat(cli): make the problem id a positional argument
  README.md
  src/cli.rs
  src/local_config.rs
  tests/cli_tests.rs
  tests/local_config_tests.rs
Due: cargo-fmt-nightly, cargo-build

feat(login): automatically refresh expired tokens
  README.md
  src/main.rs
Due: cargo-fmt-nightly, cargo-build

fix(login): log the token detection reason before the refresh
  src/main.rs
Due: cargo-fmt-nightly, cargo-build

docs(readme): rework the installation section
  README.md
Due: none

chore(readme): removing parenthesis around issue link
  README.md
Due: none

chore(readme): fix parenthesis around issue link
  README.md
Due: none

chore(cargo): widen the crate keywords for discoverability
  Cargo.toml
Due: cargo-build

docs(book): add an mdbook documentation
  .github/workflows/docs.yaml
  .gitignore
  README.md
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/configuration.md
  docs/src/contributing.md
  docs/src/cookie.md
  docs/src/installation.md
  docs/src/introduction.md
  docs/src/login.md
  docs/src/usage.md
Due: cargo-build

fix(release): commit cargo lock for locked release builds
  .gitignore
  Cargo.lock
Due: none

fix(lint): resolve clippy pedantic+unwrap warnings, add panics/errors docs, refactor overlong fns
  src/code_signature.rs
  src/config.rs
  src/leetcode_api_runner.rs
  src/local_config.rs
  src/login.rs
  src/main.rs
  src/readme_parser.rs
  src/result_formatter.rs
  src/test_generator.rs
  src/utils.rs
  tests/config_tests.rs
  tests/problem_fixtures_tests.rs
  tests/test_generator_tests.rs
  tests/utils_tests.rs
Due: cargo-fmt-nightly, cargo-build

chore(deps): upgrade dependencies (toml 1.1.6, reqwest 0.13.5, dirs 7, warp 0.4.3, tokio-tungstenite 0.30, +minor)
  Cargo.lock
  Cargo.toml
Due: cargo-build

docs(install): fail fast on missing release assets with curl -f
  README.md
  docs/src/installation.md
Due: none

docs(release): point release downloads at dfayd0/leetcode-cli
  README.md
  docs/src/installation.md
Due: none
